* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1 {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.sidebar {
    height: 100vh;
    position: fixed;
    width: 300px;
    background-color: #111;
    z-index: 99999;
    overflow-y: auto;
}

.social-media {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-media a {
    text-decoration: none;
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-github,
.fa-instagram {
    padding: 10px;
    font-size: 16px;
    border-radius: 50%;
    color: white;
    background-color: slategray;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-github:hover,
.fa-instagram:hover {
    background-color: white;
    color: black !important;
    cursor: pointer;
    transition: 0.5s;
}

.menu ul {
    padding-left: 0;
}

.menu ul li {
    list-style: none;
    margin: 8px;
}

.menu ul li a {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    color: white;
    transition: background 0.3s ease;
}

.menu ul li a:hover,
.active {
    background-color: slategray;
    border-radius: 10px;
    margin: 8px;
}

.content {
    margin-left: 300px;
    width: calc(100% - 300px);
    height: auto;
    overflow-y: auto;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: center;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero h2 {
    font-size: 4rem;
    margin-bottom: 10px;
    padding: 0 15px;

}

.typed {
    font-weight: bold;
    font-size: 2rem;
    color: #ff6347;

    display: inline-block;
}

.hero .pronouns {
    font-weight: bold;
    font-size: 2rem;
    color: white;
    padding: 0 15px;
}

.hero h2,
.hero p {
    color: white;
}

.cursor {
    font-weight: bold;
    color: #ff6347;
    display: inline-block;
    animation: blink 0.7s infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

.about,
.skills,
.resume,
.portfolio,
.contact,
.services {
    padding: 30px;
}

/* @media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }
} */

.about h2,
.skills h2,
.resume h2,
.portfolio h2,
.contact h2,
.services h2 {
    margin-top: 20px;
    font-size: 2rem;
    margin-bottom: 10px;
}

.line {
    width: 5%;
    height: 4px;
    background-color: #ff6347;
    margin: 10px 0;
}

.skills .fa-icon {
    color: #ff6347;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.skills .fa {
    font-weight: var(--fa-style, 0);
}

.about p,
.skills p,
.resume p,
.portfolio p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    color: #333;
}


/* .skills .progress {
    height: 30px;
    display: flex;

} */

.resume .border-left {
    border-left: 3px solid #ff6347;
    padding-left: 10px;
    position: relative;
    margin-left: 10px;
}

.progress-bar {
    background-color: #ff6347;
}

.portfolio .card {
    position: relative;
    overflow: hidden;

}

.portfolio .card-body {
    display: none;

}

.portfolio .card-body .card-text {
    font-size: 1rem;
    margin-bottom: 10px;
    color: white;
}

.portfolio .card:hover .card-body {

    display: block;
    background-color: rgb(112, 128, 144, 0.8);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.timeline {
    border-left: 3px solid #FF6347;
    padding-left: 1rem;
    margin-left: 1rem;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    left: -0.6rem;
    top: 0;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #fff;
    border: 3px solid #FF6347;
    border-radius: 50%;
}

.btn-color {
    background-color: #ff6347;
    color: white;
    border: none;
}

.btn-color:hover {
    background-color: white;
    color: #ff6347;
    border: 1px solid #ff6347;
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 2rem;
    }

    .role-title {
        font-size: 1.5rem;
    }

    .about h2 {
        font-size: 2rem;
    }

    .about p {
        font-size: 1rem;
    }
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.services-item .card-body {
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: 2px;
}

/* Optional: Add Webkit-specific styles for scrollbar width and color */
.services-item .card-body::-webkit-scrollbar {
    width: 3px;
    /* Adjust scrollbar width */
}

.services-item .card-body::-webkit-scrollbar-thumb {
    background-color: #ccc;
    /* Adjust color as needed */
    border-radius: 4px;
    /* Optional: Rounded edges */
}

/* Up Arrow Button Styles */
#upArrowBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 99;
    /* Stay on top */
    font-size: 24px;
    border: none;
    outline: none;
    background-color: #333;
    /* Background color */
    color: #fff;
    /* Text color */
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
}

#upArrowBtn:hover {
    background-color: #555;
    /* Darker background on hover */
}

.portfolio-item {
    position: relative;
    overflow: hidden;
}

.image {
    position: relative;
}

.overlay {
    /* Center overlay content */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    /* Semi-transparent overlay */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image:hover .overlay {
    opacity: 1;
    /* Show overlay on hover */
}

.view-link {
    color: #fff;
    /* White text */
    font-size: 18px;
    text-decoration: none;
    background-color: #ff6347;
    ;
    /* Button color */
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.view-link:hover {
    background-color: #f42c09;
    ;
    /* Darker on hover */
}



/* Responsive CSS */
@media screen and (max-width: 1200px) {
    .content {
        width: 100% !important;
        margin-left: 0px !important;
    }

    .sidebar {
        top: 0 !important;
        left: -300px;
        width: 300px;
        height: 100%;
        background-color: #333;
        color: #fff;
        transition: left 0.5s ease;
        margin-left: 0px !important;
        z-index: 1000;
        overflow-y: auto;

    }

    .hamburger {
        display: block !important;
        margin: 15px;
        font-size: 1.5rem;
        float: right;
        color: #000;
        cursor: pointer;
        z-index: 1001;
        position: fixed;
    }

    .sidebar.active {
        left: 0 !important;
        top: 0 !important;
        width: 300px;
        height: 100%;
        background-color: #333;
        color: #fff;
        transition: left 0.5s ease;
    }

    .show-bars {
        display: inline-block;
        border-radius: 10px;
        background-color: #333;
        color: #fff;
        padding: 10px;
    }

    .show-times {
        display: none;
        color: #fff;
    }

    .sidebar.active~.hamburger .show-bars {
        display: none;
        /* Hide bars icon when sidebar is active */
    }

    .sidebar.active~.hamburger .show-times {
        display: inline-block;
        color: #fff !important;

        /* Show times icon when sidebar is active */
    }
}

@media screen and (min-width: 1201px) {
    .hamburger {
        display: none !important;
    }

    .content {
        margin-left: 300px !important;
    }

    .sidebar {
        display: block !important;

    }

}
